First look at all 2nd wave csvs

In [1]:
import pandas as pd
import numpy as np
import s3fs
import os
import io
import boto3

import s3fs
fs = s3fs.S3FileSystem(anon=False,key='#####',secret='#####
from dotenv import load_dotenv
load_dotenv(verbose=True)

def aws_session(region_name='us-east-1'):
    return boto3.session.Session(aws_access_key_id=os.getenv('AWS_ACCESS_KEY_ID'), #looks for any .env file
                                aws_secret_access_key=os.getenv('AWS_ACCESS_KEY_SECRET'), #Has to be in same directory
                                region_name=region_name) #from above

def make_bucket(name, acl): 
    session = aws_session()
    s3_resource = session.resource('s3')
    return s3_resource.create_bucket(Bucket=name, ACL=acl)

def upload_file_to_bucket(bucket_name, file_path):
    session = aws_session()
    s3_resource = session.resource('s3')
    file_dir, file_name = os.path.split(file_path)

    bucket = s3_resource.Bucket(bucket_name)
    bucket.upload_file(
      Filename=file_path,
      Key=file_name,
      ExtraArgs={'ACL': 'public-read'}
    )

    s3_url = f"https://{bucket_name}.s3.amazonaws.com/{file_name}"
    return s3_url

def download_file_from_bucket(bucket_name, s3_key, dst_path):
    session = aws_session()
    s3_resource = session.resource('s3')
    bucket = s3_resource.Bucket(bucket_name)
    bucket.download_file(Key=s3_key, Filename=dst_path)

## download_file_from_bucket('music-demo-lyrics', 'lyrics_25k.csv', 'short_name.csv')
## with open('short_name.csv') as fo:
    ## print(fo.read())

In [2]:
genre_df = pd.read_csv('s3://music-lyrics/merged2_genre_df.csv')
decades_df = pd.read_csv('s3://music-lyrics/decades3_df.csv')
decades_df(5)

TypeError: 'DataFrame' object is not callable

In [3]:
genre_df

,original_csv,artist_name,song_name,link,lyrics,language,genre
0,genres_csv,/10000-maniacs/,More Than This,/10000-maniacs/more-than-this.html,I could feel at the time. There was no way of ...,ENGLISH,Rock
1,genres_csv,/10000-maniacs/,More Than This,/10000-maniacs/more-than-this.html,I could feel at the time. There was no way of ...,ENGLISH,Pop
2,genres_csv,/10000-maniacs/,Because The Night,/10000-maniacs/because-the-night.html,"Take me now, baby, here as I am. Hold me close...",ENGLISH,Rock
3,genres_csv,/10000-maniacs/,Because The Night,/10000-maniacs/because-the-night.html,"Take me now, baby, here as I am. Hold me close...",ENGLISH,Pop
4,genres_csv,/10000-maniacs/,These Are Days,/10000-maniacs/these-are-days.html,These are. These are days you'll remember. Nev...,ENGLISH,Rock
...,...,...,...,...,...,...,...
124225,genres_csv,/sambo/,Valerie,/sambo/valerie.html,Well sometimes I go out by myself. And I look ...,ENGLISH,Rock
124226,genres_csv,/sambo/,Wake Me Up,/sambo/wake-me-up.html,Feeling my way through the darkness. Guided by...,ENGLISH,Samba
124227,genres_csv,/sambo/,Wake Me Up,/sambo/wake-me-up.html,Feeling my way through the darkness. Guided by...,ENGLISH,Rock
124228,genres_csv,/seu-jorge/,Don't,/seu-jorge/dont.html,"Don't, don't, that's what you say. Each time t...",ENGLISH,Samba
124229,genres_csv,/zeca-pagodinho/,Deixa A Vida Me Levar (translation),/zeca-pagodinho/deixa-a-vida-me-levar-translat...,I've been. For almost everything in life. In t...,ENGLISH,Samba

In [4]:
decades_df

,original_csv,artist_name,song_name,link,lyrics,language,genre,date
0,decades_tcc,mukesh,mohabbat bhi jhoothi,NaN,hold time feel break feel untrue convince spea...,NaN,pop,1950
1,decades_tcc,frankie laine,i believe,NaN,believe drop rain fall grow believe darkest ni...,NaN,pop,1950
2,decades_tcc,johnnie ray,cry,NaN,sweetheart send letter goodbye secret feel bet...,NaN,pop,1950
3,decades_tcc,pérez prado,patricia,NaN,kiss lips want stroll charm mambo chacha merin...,NaN,pop,1950
4,decades_tcc,giorgos papadopoulos,apopse eida oneiro,NaN,till darling till matter know till dream live ...,NaN,pop,1950
...,...,...,...,...,...,...,...,...
28367,decades_tcc,mack 10,10 million ways,NaN,cause fuck leave scar tick tock clock come kno...,NaN,hip hop,2019
28368,decades_tcc,m.o.p.,ante up (robbin hoodz theory),NaN,minks things chain ring braclets yap fame come...,NaN,hip hop,2019
28369,decades_tcc,nine,whutcha want?,NaN,get ban get ban stick crack relax plan attack ...,NaN,hip hop,2019
28370,decades_tcc,will smith,switch,NaN,check check yeah yeah hear thing call switch g...,NaN,hip hop,2019
28371,decades_tcc,jeezy,r.i.p.,NaN,remix killer alive remix thriller trap bitch s...,NaN,hip hop,2019

In [8]:
b

In [10]:
big_df['artist_name'].replace('(/)','',regex=True, inplace = True) 
big_df

,original_csv,artist_name,song_name,link,lyrics,language,genre,date
0,genres_csv,10000-maniacs,More Than This,/10000-maniacs/more-than-this.html,I could feel at the time. There was no way of ...,ENGLISH,Rock,NaN
1,genres_csv,10000-maniacs,More Than This,/10000-maniacs/more-than-this.html,I could feel at the time. There was no way of ...,ENGLISH,Pop,NaN
2,genres_csv,10000-maniacs,Because The Night,/10000-maniacs/because-the-night.html,"Take me now, baby, here as I am. Hold me close...",ENGLISH,Rock,NaN
3,genres_csv,10000-maniacs,Because The Night,/10000-maniacs/because-the-night.html,"Take me now, baby, here as I am. Hold me close...",ENGLISH,Pop,NaN
4,genres_csv,10000-maniacs,These Are Days,/10000-maniacs/these-are-days.html,These are. These are days you'll remember. Nev...,ENGLISH,Rock,NaN
...,...,...,...,...,...,...,...,...
152597,decades_tcc,mack 10,10 million ways,NaN,cause fuck leave scar tick tock clock come kno...,NaN,hip hop,2019.0
152598,decades_tcc,m.o.p.,ante up (robbin hoodz theory),NaN,minks things chain ring braclets yap fame come...,NaN,hip hop,2019.0
152599,decades_tcc,nine,whutcha want?,NaN,get ban get ban stick crack relax plan attack ...,NaN,hip hop,2019.0
152600,decades_tcc,will smith,switch,NaN,check check yeah yeah hear thing call switch g...,NaN,hip hop,2019.0
152601,decades_tcc,jeezy,r.i.p.,NaN,remix killer alive remix thriller trap bitch s...,NaN,hip hop,2019.0

In [9]:
big_df

,original_csv,artist_name,song_name,link,lyrics,language,genre,date
0,genres_csv,/10000-maniacs/,More Than This,/10000-maniacs/more-than-this.html,I could feel at the time. There was no way of ...,ENGLISH,Rock,NaN
1,genres_csv,/10000-maniacs/,More Than This,/10000-maniacs/more-than-this.html,I could feel at the time. There was no way of ...,ENGLISH,Pop,NaN
2,genres_csv,/10000-maniacs/,Because The Night,/10000-maniacs/because-the-night.html,"Take me now, baby, here as I am. Hold me close...",ENGLISH,Rock,NaN
3,genres_csv,/10000-maniacs/,Because The Night,/10000-maniacs/because-the-night.html,"Take me now, baby, here as I am. Hold me close...",ENGLISH,Pop,NaN
4,genres_csv,/10000-maniacs/,These Are Days,/10000-maniacs/these-are-days.html,These are. These are days you'll remember. Nev...,ENGLISH,Rock,NaN
...,...,...,...,...,...,...,...,...
152597,decades_tcc,mack 10,10 million ways,NaN,cause fuck leave scar tick tock clock come kno...,NaN,hip hop,2019.0
152598,decades_tcc,m.o.p.,ante up (robbin hoodz theory),NaN,minks things chain ring braclets yap fame come...,NaN,hip hop,2019.0
152599,decades_tcc,nine,whutcha want?,NaN,get ban get ban stick crack relax plan attack ...,NaN,hip hop,2019.0
152600,decades_tcc,will smith,switch,NaN,check check yeah yeah hear thing call switch g...,NaN,hip hop,2019.0
152601,decades_tcc,jeezy,r.i.p.,NaN,remix killer alive remix thriller trap bitch s...,NaN,hip hop,2019.0

In [11]:
big_df.describe(include='all')

,original_csv,artist_name,song_name,link,lyrics,language,genre,date
count,152602,152602,152602,124230,152602,124230,152602,28372.000000
unique,2,6445,90916,87151,114791,1,13,NaN
top,genres_csv,chris-brown,Intro,/m-i-a/10.html,[This song is an instrumental.].,ENGLISH,Rock,NaN
freq,124230,2348,66,12,17,124230,60585,NaN
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1990.236888
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18.487463
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1950.000000
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1975.000000
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1991.000000
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2007.000000
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019.000000

In [12]:
big_df[big_df.duplicated(subset=['artist_name','song_name'])]

,original_csv,artist_name,song_name,link,lyrics,language,genre,date
1,genres_csv,10000-maniacs,More Than This,/10000-maniacs/more-than-this.html,I could feel at the time. There was no way of ...,ENGLISH,Pop,NaN
3,genres_csv,10000-maniacs,Because The Night,/10000-maniacs/because-the-night.html,"Take me now, baby, here as I am. Hold me close...",ENGLISH,Pop,NaN
5,genres_csv,10000-maniacs,These Are Days,/10000-maniacs/these-are-days.html,These are. These are days you'll remember. Nev...,ENGLISH,Pop,NaN
7,genres_csv,10000-maniacs,A Campfire Song,/10000-maniacs/a-campfire-song.html,"A lie to say, ""O my mountain has coal veins an...",ENGLISH,Pop,NaN
9,genres_csv,10000-maniacs,Everyday Is Like Sunday,/10000-maniacs/everyday-is-like-sunday.html,Trudging slowly over wet sand. Back to the ben...,ENGLISH,Pop,NaN
...,...,...,...,...,...,...,...,...
124223,genres_csv,sambo,This Love,/sambo/this-love.html,I was so high I did not recognize. The fire bu...,ENGLISH,Rock,NaN
124225,genres_csv,sambo,Valerie,/sambo/valerie.html,Well sometimes I go out by myself. And I look ...,ENGLISH,Rock,NaN
124227,genres_csv,sambo,Wake Me Up,/sambo/wake-me-up.html,Feeling my way through the darkness. Guided by...,ENGLISH,Rock,NaN
126545,decades_tcc,blondie,11:59,NaN,lean corner like candidate sidewalk social sci...,NaN,pop,1978.0
148309,decades_tcc,queen,'39,NaN,year assemble volunteer days land ship sail bl...,NaN,rock,1975.0

152K songs.  37K repeats.  That ain't bad...

In [15]:
big_df[big_df.duplicated(subset=['song_name'])]

,original_csv,artist_name,song_name,link,lyrics,language,genre,date
1,genres_csv,10000-maniacs,More Than This,/10000-maniacs/more-than-this.html,I could feel at the time. There was no way of ...,ENGLISH,Pop,NaN
3,genres_csv,10000-maniacs,Because The Night,/10000-maniacs/because-the-night.html,"Take me now, baby, here as I am. Hold me close...",ENGLISH,Pop,NaN
5,genres_csv,10000-maniacs,These Are Days,/10000-maniacs/these-are-days.html,These are. These are days you'll remember. Nev...,ENGLISH,Pop,NaN
7,genres_csv,10000-maniacs,A Campfire Song,/10000-maniacs/a-campfire-song.html,"A lie to say, ""O my mountain has coal veins an...",ENGLISH,Pop,NaN
9,genres_csv,10000-maniacs,Everyday Is Like Sunday,/10000-maniacs/everyday-is-like-sunday.html,Trudging slowly over wet sand. Back to the ben...,ENGLISH,Pop,NaN
...,...,...,...,...,...,...,...,...
152555,decades_tcc,rob base & dj ez rock,it takes two,NaN,take thing right take outta sight wanna right ...,NaN,hip hop,2019.0
152570,decades_tcc,jaydayoungan,hop out,NaN,heroes tryna glock straight work niggas talkin...,NaN,hip hop,2019.0
152577,decades_tcc,aaliyah,more than a woman,NaN,passion instant sweat bead feel cupid shoot he...,NaN,hip hop,2019.0
152581,decades_tcc,kurtis blow,basketball,NaN,chours play basketball basketball play basketb...,NaN,hip hop,2019.0
152587,decades_tcc,ghostface killah,iron maiden,NaN,doin turf punk message smokey smokey smokey mo...,NaN,hip hop,2019.0

61K repeats.  That's bad

In [16]:
big_df[big_df.duplicated(subset=['artist_name','song_name'])]

,original_csv,artist_name,song_name,link,lyrics,language,genre,date
1,genres_csv,10000-maniacs,More Than This,/10000-maniacs/more-than-this.html,I could feel at the time. There was no way of ...,ENGLISH,Pop,NaN
3,genres_csv,10000-maniacs,Because The Night,/10000-maniacs/because-the-night.html,"Take me now, baby, here as I am. Hold me close...",ENGLISH,Pop,NaN
5,genres_csv,10000-maniacs,These Are Days,/10000-maniacs/these-are-days.html,These are. These are days you'll remember. Nev...,ENGLISH,Pop,NaN
7,genres_csv,10000-maniacs,A Campfire Song,/10000-maniacs/a-campfire-song.html,"A lie to say, ""O my mountain has coal veins an...",ENGLISH,Pop,NaN
9,genres_csv,10000-maniacs,Everyday Is Like Sunday,/10000-maniacs/everyday-is-like-sunday.html,Trudging slowly over wet sand. Back to the ben...,ENGLISH,Pop,NaN
...,...,...,...,...,...,...,...,...
124223,genres_csv,sambo,This Love,/sambo/this-love.html,I was so high I did not recognize. The fire bu...,ENGLISH,Rock,NaN
124225,genres_csv,sambo,Valerie,/sambo/valerie.html,Well sometimes I go out by myself. And I look ...,ENGLISH,Rock,NaN
124227,genres_csv,sambo,Wake Me Up,/sambo/wake-me-up.html,Feeling my way through the darkness. Guided by...,ENGLISH,Rock,NaN
126545,decades_tcc,blondie,11:59,NaN,lean corner like candidate sidewalk social sci...,NaN,pop,1978.0
148309,decades_tcc,queen,'39,NaN,year assemble volunteer days land ship sail bl...,NaN,rock,1975.0

In [17]:
big_df.drop_duplicates(subset=['artist_name','song_name'], inplace = True)
big_df

,original_csv,artist_name,song_name,link,lyrics,language,genre,date
0,genres_csv,10000-maniacs,More Than This,/10000-maniacs/more-than-this.html,I could feel at the time. There was no way of ...,ENGLISH,Rock,NaN
2,genres_csv,10000-maniacs,Because The Night,/10000-maniacs/because-the-night.html,"Take me now, baby, here as I am. Hold me close...",ENGLISH,Rock,NaN
4,genres_csv,10000-maniacs,These Are Days,/10000-maniacs/these-are-days.html,These are. These are days you'll remember. Nev...,ENGLISH,Rock,NaN
6,genres_csv,10000-maniacs,A Campfire Song,/10000-maniacs/a-campfire-song.html,"A lie to say, ""O my mountain has coal veins an...",ENGLISH,Rock,NaN
8,genres_csv,10000-maniacs,Everyday Is Like Sunday,/10000-maniacs/everyday-is-like-sunday.html,Trudging slowly over wet sand. Back to the ben...,ENGLISH,Rock,NaN
...,...,...,...,...,...,...,...,...
152597,decades_tcc,mack 10,10 million ways,NaN,cause fuck leave scar tick tock clock come kno...,NaN,hip hop,2019.0
152598,decades_tcc,m.o.p.,ante up (robbin hoodz theory),NaN,minks things chain ring braclets yap fame come...,NaN,hip hop,2019.0
152599,decades_tcc,nine,whutcha want?,NaN,get ban get ban stick crack relax plan attack ...,NaN,hip hop,2019.0
152600,decades_tcc,will smith,switch,NaN,check check yeah yeah hear thing call switch g...,NaN,hip hop,2019.0
152601,decades_tcc,jeezy,r.i.p.,NaN,remix killer alive remix thriller trap bitch s...,NaN,hip hop,2019.0

In [18]:
big_df[big_df.duplicated(subset=['song_name'])]

,original_csv,artist_name,song_name,link,lyrics,language,genre,date
284,genres_csv,12-stones,Photograph,/12-stones/photograph.html,Fear falls hard like rain again. Washing over ...,ENGLISH,Rock,NaN
700,genres_csv,4-non-blondes,Train,/4-non-blondes/train.html,What ya gonna do child. When your thoughts are...,ENGLISH,Rock,NaN
952,genres_csv,ac-dc,Love Song,/ac-dc/love-song.html,I can tell by the look in your eye. I can tell...,ENGLISH,Rock,NaN
1249,genres_csv,adam-lambert,Runaway,/adam-lambert/runaway.html,So. High up. Shouting. Why can’t everybody loo...,ENGLISH,Pop,NaN
1307,genres_csv,adam-lambert,What's Up,/adam-lambert/whats-up.html,Twenty-five years and my life is still. I'm tr...,ENGLISH,Pop,NaN
...,...,...,...,...,...,...,...,...
152555,decades_tcc,rob base & dj ez rock,it takes two,NaN,take thing right take outta sight wanna right ...,NaN,hip hop,2019.0
152570,decades_tcc,jaydayoungan,hop out,NaN,heroes tryna glock straight work niggas talkin...,NaN,hip hop,2019.0
152577,decades_tcc,aaliyah,more than a woman,NaN,passion instant sweat bead feel cupid shoot he...,NaN,hip hop,2019.0
152581,decades_tcc,kurtis blow,basketball,NaN,chours play basketball basketball play basketb...,NaN,hip hop,2019.0
152587,decades_tcc,ghostface killah,iron maiden,NaN,doin turf punk message smokey smokey smokey mo...,NaN,hip hop,2019.0

In [19]:
big_df.describe(include='all')

,original_csv,artist_name,song_name,link,lyrics,language,genre,date
count,115529,115529,115529,87159,115529,87159,115529,28370.000000
unique,2,6445,90916,87148,114787,1,13,NaN
top,genres_csv,elvis-presley,Intro,/bee-gees/our-love-dont-throw-it-all-away.html,[This song is an instrumental.].,ENGLISH,Rock,NaN
freq,87159,747,50,2,16,87159,47637,NaN
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1990.237857
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18.487751
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1950.000000
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1975.000000
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1991.000000
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2007.000000
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019.000000

In [21]:
big_df.drop_duplicates(subset=['song_name'], inplace = True)
big_df

,original_csv,artist_name,song_name,link,lyrics,language,genre,date
0,genres_csv,10000-maniacs,More Than This,/10000-maniacs/more-than-this.html,I could feel at the time. There was no way of ...,ENGLISH,Rock,NaN
2,genres_csv,10000-maniacs,Because The Night,/10000-maniacs/because-the-night.html,"Take me now, baby, here as I am. Hold me close...",ENGLISH,Rock,NaN
4,genres_csv,10000-maniacs,These Are Days,/10000-maniacs/these-are-days.html,These are. These are days you'll remember. Nev...,ENGLISH,Rock,NaN
6,genres_csv,10000-maniacs,A Campfire Song,/10000-maniacs/a-campfire-song.html,"A lie to say, ""O my mountain has coal veins an...",ENGLISH,Rock,NaN
8,genres_csv,10000-maniacs,Everyday Is Like Sunday,/10000-maniacs/everyday-is-like-sunday.html,Trudging slowly over wet sand. Back to the ben...,ENGLISH,Rock,NaN
...,...,...,...,...,...,...,...,...
152597,decades_tcc,mack 10,10 million ways,NaN,cause fuck leave scar tick tock clock come kno...,NaN,hip hop,2019.0
152598,decades_tcc,m.o.p.,ante up (robbin hoodz theory),NaN,minks things chain ring braclets yap fame come...,NaN,hip hop,2019.0
152599,decades_tcc,nine,whutcha want?,NaN,get ban get ban stick crack relax plan attack ...,NaN,hip hop,2019.0
152600,decades_tcc,will smith,switch,NaN,check check yeah yeah hear thing call switch g...,NaN,hip hop,2019.0
152601,decades_tcc,jeezy,r.i.p.,NaN,remix killer alive remix thriller trap bitch s...,NaN,hip hop,2019.0

In [22]:
big_df.genre.unique()

array(['Rock', 'Pop', 'Hip Hop', 'Sertanejo', 'Samba', 'Funk Carioca',
       'pop', 'country', 'blues', 'jazz', 'reggae', 'rock', 'hip hop'],
      dtype=object)

In [24]:
big_df.shape

(90916, 8)

In [25]:
big_df.to_csv('big_df.csv', index = False)
upload_file_to_bucket('music-lyrics','big_df.csv')

'https://music-lyrics.s3.amazonaws.com/big_df.csv'

big_df is the culmination of the last four days.  Two datasets aligned, de-duplicated, cleaned (a little), merged and concat'd.