Loading the WORM bucket.  Will start with S3fs.  Note that I have already configured my AWS credentials in the AWS CLI.

In [22]:
import s3fs
fs = s3fs.S3FileSystem(anon=False,key='###########',secret='##############')

In [3]:
!aws s3 ls # Use the AWS CLI to list buckets available.  worm-begin has Object Lock enabled.

2021-04-06 21:03:54 music-demo-lyrics
2021-04-06 20:10:43 music-lyrics
2021-04-07 07:23:53 worm-begin

I am now learning that writing from local to S3 using s3fs is not what s3fs was made for.  It is more for reading files.  I'l now try boto3.

In [23]:
import os
import boto3

from dotenv import load_dotenv
load_dotenv(verbose=True)

def aws_session(region_name='us-east-1'):
    return boto3.session.Session(aws_access_key_id=os.getenv('AWS_ACCESS_KEY_ID'), #looks for any .env file
                                aws_secret_access_key=os.getenv('AWS_ACCESS_KEY_SECRET'), #Has to be in same directory
                                region_name=region_name) #from above

def make_bucket(name, acl): 
    session = aws_session()
    s3_resource = session.resource('s3')
    return s3_resource.create_bucket(Bucket=name, ACL=acl)

def upload_file_to_bucket(bucket_name, file_path):
    session = aws_session()
    s3_resource = session.resource('s3')
    file_dir, file_name = os.path.split(file_path)

    bucket = s3_resource.Bucket(bucket_name)
    bucket.upload_file(
      Filename=file_path,
      Key=file_name,
      ExtraArgs={'ACL': 'public-read'}
    )

    s3_url = f"https://{bucket_name}.s3.amazonaws.com/{file_name}"
    return s3_url

## s3_url = upload_file_to_bucket('worm-begin','lyrics_25k.csv')
## print(s3_url) 
## s3_url = upload_file_to_bucket('worm-begin','album_details_25k.csv')
## print(s3_url)
## s3_url = upload_file_to_bucket('worm-begin','songs_details_25k.csv')
## print(s3_url)

def download_file_from_bucket(bucket_name, s3_key, dst_path):
    session = aws_session()
    s3_resource = session.resource('s3')
    bucket = s3_resource.Bucket(bucket_name)
    bucket.download_file(Key=s3_key, Filename=dst_path)

## download_file_from_bucket('music-demo-lyrics', 'lyrics_25k.csv', 'short_name.csv')
## with open('short_name.csv') as fo:
    ## print(fo.read())

https://worm-begin.s3.amazonaws.com/lyrics_25k.csv
https://worm-begin.s3.amazonaws.com/album_details_25k.csv
https://worm-begin.s3.amazonaws.com/songs_details_25k.csv

In [24]:
# Use s3fs for checking the bucket.
fs.ls('worm-begin')

['worm-begin/album_details_25k.csv',
 'worm-begin/lyrics_25k.csv',
 'worm-begin/songs_details_25k.csv']

In [25]:
# use AWS CLI for checking the bucket.
!aws s3 ls 'worm-begin'

2021-04-07 08:38:33     105621 album_details_25k.csv
2021-04-07 08:09:22   27655251 decades_tcc_ceds_music.csv
2021-04-07 08:34:22     348120 genres_artists_data.csv
2021-04-07 08:19:38  276163416 genres_lyrics_data.csv
2021-04-07 08:22:31  187407184 labeled_lyrics_cleaned.csv
2021-04-07 08:38:18   40754845 lyrics_25k.csv
2021-04-07 08:38:34    2276377 songs_details_25k.csv

In [9]:
#load one more using the Boto functions. Check it the same ways.
s3_url = upload_file_to_bucket('worm-begin','decades_tcc_ceds_music.csv')
print(s3_url)
fs.ls('worm-begin')
!aws s3 ls 'worm-begin'

https://worm-begin.s3.amazonaws.com/decades_tcc_ceds_music.csv
2021-04-07 08:02:29     105621 album_details_25k.csv
2021-04-07 08:09:22   27655251 decades_tcc_ceds_music.csv
2021-04-07 08:02:16   40754845 lyrics_25k.csv
2021-04-07 08:02:30    2276377 songs_details_25k.csv

In [11]:
#check the read functionality in s3fs.
import pandas as pd
test = pd.read_csv('s3://worm-begin/lyrics_25k.csv')
test.describe(include='all')

,Unnamed: 0,link,artist,song_name,lyrics
count,25742.000000,25742,25742,25742,25742
unique,NaN,25018,542,21073,24883
top,NaN,../lyrics/elvispresley/canthelpfallinginlove.html,Johnny Cash Lyrics,Intro,\n\n[Instrumental]\n
freq,NaN,7,813,22,9
mean,12870.500000,NaN,NaN,NaN,NaN
std,7431.219651,NaN,NaN,NaN,NaN
min,0.000000,NaN,NaN,NaN,NaN
25%,6435.250000,NaN,NaN,NaN,NaN
50%,12870.500000,NaN,NaN,NaN,NaN
75%,19305.750000,NaN,NaN,NaN,NaN
max,25741.000000,NaN,NaN,NaN,NaN

In [12]:
# use AWS CLI to load several files.
!aws s3 cp genres_lyrics_data.csv s3://worm-begin

upload: ./genres_lyrics_data.csv to s3://worm-begin/genres_lyrics_data.csv

That was very slow.  But, it is slow on the terminal as well.

In [14]:
fs.ls('worm-begin')

['worm-begin/album_details_25k.csv',
 'worm-begin/lyrics_25k.csv',
 'worm-begin/songs_details_25k.csv']

In [15]:
!aws s3 ls 'worm-begin'

2021-04-07 08:02:29     105621 album_details_25k.csv
2021-04-07 08:09:22   27655251 decades_tcc_ceds_music.csv
2021-04-07 08:19:38  276163416 genres_lyrics_data.csv
2021-04-07 08:22:31  187407184 labeled_lyrics_cleaned.csv
2021-04-07 08:02:16   40754845 lyrics_25k.csv
2021-04-07 08:02:30    2276377 songs_details_25k.csv

Why is the list from s3fs different from the list from AWS CLI? I'll reset, try again, and then try to load a df from an existing file.

In [16]:
fs = s3fs.S3FileSystem(anon=False,key='AKIASQCX6MEBOZF7WCYA',secret='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')
fs.ls('worm-begin')

['worm-begin/album_details_25k.csv',
 'worm-begin/lyrics_25k.csv',
 'worm-begin/songs_details_25k.csv']

In [17]:
test2 = pd.read_csv('s3://worm-begin/decades_tcc_ceds_music.csv')

In [18]:
test2.describe(include='all')

,Unnamed: 0,artist_name,track_name,release_date,genre,lyrics,len,dating,violence,world/life,...,sadness,feelings,danceability,loudness,acousticness,instrumentalness,valence,energy,topic,age
count,28372.000000,28372,28372,28372.000000,28372,28372,28372.000000,28372.000000,28372.000000,28372.000000,...,28372.000000,28372.000000,28372.000000,28372.000000,2.837200e+04,28372.000000,28372.000000,28372.000000,28372,28372.000000
unique,NaN,5426,23689,NaN,7,28372,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8,NaN
top,NaN,johnny cash,tonight,NaN,pop,stand today like dream start live night eye he...,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,sadness,NaN
freq,NaN,190,17,NaN,7042,1,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6096,NaN
mean,42946.323558,NaN,NaN,1990.236888,NaN,NaN,73.028444,0.021112,0.118396,0.120973,...,0.129389,0.030996,0.533348,0.665249,3.392347e-01,0.080049,0.532864,0.569875,NaN,0.425187
std,24749.325492,NaN,NaN,18.487463,NaN,NaN,41.829831,0.052370,0.178684,0.172200,...,0.181143,0.071652,0.173218,0.108434,3.267143e-01,0.211245,0.250972,0.244385,NaN,0.264107
min,0.000000,NaN,NaN,1950.000000,NaN,NaN,1.000000,0.000291,0.000284,0.000291,...,0.000284,0.000289,0.005415,0.000000,2.811248e-07,0.000000,0.000000,0.000000,NaN,0.014286
25%,20391.250000,NaN,NaN,1975.000000,NaN,NaN,42.000000,0.000923,0.001120,0.001170,...,0.001144,0.000993,0.412975,0.595364,3.423598e-02,0.000000,0.329143,0.380361,NaN,0.185714
50%,45405.500000,NaN,NaN,1991.000000,NaN,NaN,63.000000,0.001462,0.002506,0.006579,...,0.005263,0.001754,0.538612,0.679050,2.259028e-01,0.000085,0.539365,0.580567,NaN,0.414286
75%,64090.500000,NaN,NaN,2007.000000,NaN,NaN,93.000000,0.004049,0.192608,0.197793,...,0.235113,0.032622,0.656666,0.749026,6.325298e-01,0.009335,0.738252,0.772766,NaN,0.642857
max,82451.000000,NaN,NaN,2019.000000,NaN,NaN,199.000000,0.647706,0.981781,0.962105,...,0.981424,0.958810,0.993502,1.000000,1.000000e+00,0.996964,1.000000,1.000000,NaN,1.000000

In [19]:
fs.ls('worm-begin')

['worm-begin/album_details_25k.csv',
 'worm-begin/lyrics_25k.csv',
 'worm-begin/songs_details_25k.csv']

In [20]:
!aws s3 ls 'worm-begin'

2021-04-07 08:02:29     105621 album_details_25k.csv
2021-04-07 08:09:22   27655251 decades_tcc_ceds_music.csv
2021-04-07 08:19:38  276163416 genres_lyrics_data.csv
2021-04-07 08:22:31  187407184 labeled_lyrics_cleaned.csv
2021-04-07 08:02:16   40754845 lyrics_25k.csv
2021-04-07 08:02:30    2276377 songs_details_25k.csv

In [21]:
s3_url = upload_file_to_bucket('worm-begin','genres_artists_data.csv')
!aws s3 ls 'worm-begin'

2021-04-07 08:02:29     105621 album_details_25k.csv
2021-04-07 08:09:22   27655251 decades_tcc_ceds_music.csv
2021-04-07 08:34:22     348120 genres_artists_data.csv
2021-04-07 08:19:38  276163416 genres_lyrics_data.csv
2021-04-07 08:22:31  187407184 labeled_lyrics_cleaned.csv
2021-04-07 08:02:16   40754845 lyrics_25k.csv
2021-04-07 08:02:30    2276377 songs_details_25k.csv

Upload to WORM bucket of everything to date is complete.

Check the boto download method...

In [26]:
import pandas as pd
download_file_from_bucket('worm-begin', 'album_details_25k.csv', 'short_name.csv')
with open('short_name.csv') as fo:
    test3 = pd.read_csv(fo)

In [27]:
test3.head()

,Unnamed: 0,id,singer_name,name,type,year
0,0,5765.0,Taylor Swift Lyrics,Taylor Swift,album,2006
1,1,6432.0,Taylor Swift Lyrics,Sounds Of The Season: The Taylor Swift Holiday...,EP,2007
2,2,6995.0,Taylor Swift Lyrics,Fearless,album,2008
3,3,10358.0,Taylor Swift Lyrics,Speak Now,album,2010
4,4,24353.0,Taylor Swift Lyrics,Red,album,2012